<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.ibm.team.process.service.operationAdvisors">
      <operationAdvisor
            class="sample_app.OperationAdvisor"
            id="sample_app.operationAdvisor"
            name="Test ME"
            operationId="com.ibm.team.workitem.operation.workItemSave">
         <extensionService
               componentId="sample_app.extensionService"
               implementationClass="sample_app.OperationAdvisor">
         </extensionService>
      </operationAdvisor>
   </extension>

</plugin>
